nav{
    background-color: #2db5c4;
}
 
.carousel-caption{
    margin-bottom: 50px;
 
}
 
.conteudo{
    text-align: center;
    margin-top: 20px;
}
 
.row{
    margin-top: 20px;
    width: 95%;
}
 
.card{
    margin: 20px;
}
 
 